.form{
  justify-content: center;
  background-color: white;
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}
.invisible{
  visibility: hidden;
}
.books {
  display: block;
  justify-content: space-between;
}
.book {
  width: 97%;
  border-style: solid;
  border-color: gold;
  border-radius: 10px;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #654321;
  display:inline-flex;
  color: gold;
}
.bookTitle{
  padding-left: 10px;
}
.bookAuthor {
  padding-left: 500px;
}
.bookPages {
  padding-left: 300px;
}
.bookRead {
  position: fixed;
  left: 1400px;
  margin-top: 15px;
  background-color: #3f000f;
  color: gold;
  border-color: gold;
  border-radius: 5px;
}
.yeet {
  position: fixed;
  left: 1700px;
  margin-top: 15px;
  background-color: #3f000f;
  color: gold;
  border-color: gold;
  border-radius: 5px;
}
