#add{
  horizontal-align: center;
}
.invisible{
  visibility: hidden;
}
.books {
  display: grid;
  justify-content: space-between;
}
.book {
  width: 200px;
  border-style: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: blue;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
