.form{
  justify-content: center;
  background-color: white;
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}
.invisible{
  visibility: hidden;
}
.books {
  display: block;
  justify-content: space-between;
}
.book {
  width: 97%;
  border-style: hidden;
  border-radius: 10px;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  display:inline-flex;
}
.bookTitle{
  padding-left: 10px;
}
.bookAuthor {
  padding-left: 500px;
}
.bookPages {
  padding-left: 300px;
  padding-right: 300px;
}
.bookRead {
  /*padding-left: 300px;*/
  margin-left: 200px;
}
.yeet {
  /*padding-left: 300px;*/
}
